.active {
  color: white;
  font-size: 15pt;
}
.tabs {
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  font-size: 11pt;
  li {
    margin: 5px 10px 5px 0px;
    display: flex;
    background: #d1de00;
    padding: 10px;
    cursor: pointer;
  }
}